button {
    background:lightgray;
    width: 127px;
    font-size: 25px;
    margin-top: 6px;
    border: 1px solid black;
    border-radius: 8px;
  }
  .addButton{
    background:lightgray;
    /* width: 100px; */
    font-size: 20px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(10%);
  }
  .couponDetailForm{
    text-align: center;
    transform: translateY(10%);
  }
  