section {
  background-color: white;
    text-align: center;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 13% 80% 7%; /* 3 Rows */
    grid-template-columns: repeat(12, 1fr); /* 12 Columns */
}

header {
    grid-column: span 12;
    border: 2px solid black;
}

aside {
    grid-column: span 2;
    border: 2px solid black;
}

main {
    grid-column: span 10;
    border: 2px solid black;
}

footer {
    grid-column: span 12;
    border: 2px solid black;
}
