
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  form {
    border: 3px solid #f1f1f1;
  }
  
  input[type=text], input[type=password] ,input[type=email], input[type=date], input[type=number]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  h1 {
    margin:3vw;
    color: darkblue;
    position: relative;
    font-size: 30px;
  }
  
  button {
    background:lightgray;
    width: 127px;
    font-size: 25px;
    margin-top: 6px;
    border: 1px solid black;
    border-radius: 8px;
  }
  .addButton{
    background:lightgray;
    font-size: 20px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  
  select::-ms-expand {
    display: none;
  }
  select {
    width: 40%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 2em 0.5em 0.5em;
    border: 1px solid #eee;
    font: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
  }
  