table {
  height: 450px;
  display: block;
  overflow: auto;
  margin: auto;
  border-collapse: collapse;
}

table, td {
  font-size: 30px;
}

th{
  position: sticky;
  top: 0;
  background: gray;
}

td{
  padding-left: 23px;
  padding-right: 23px;
}

tr:nth-child(even) {
   background-color: lightgray;
 }

tr:nth-child(odd) {
  background-color:whitesmoke;
 }

 div{
   text-align: center;
 }

img:first-child{
  width: 80px;
  height: 80px;
  margin: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightsteelblue;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightslategray;
}

.preview {
 position: fixed;
  top: 130px;
 right: 30px;
}

button {
  background:lightgray;
  width: 300px;
  font-size: x-large;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 8px;
}
