
<div class="about">
    <h2>
    Who Are We?
    <br><br>
    </h2>
    WE Are The Best Coupons Web Site Ever!
    <br><br>
    You Can Purchase Coupons On The Best Discount's On The Market...
    <br><br>
    <br><br>

    Adress: Tel Aviv : Somsom Street 34

<div>
  <br><br>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>

</div>
